////
/// Dro's Portfolio Styles
///
/// @author Pedro Tavarez <ptavarez16@gmail.com>
////

@import './landing/index';

.Portfolio {
  font-family: 'poppins-medium', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
