////
/// Dro's Portfolio Styles
///
/// @author Pedro Tavarez <ptavarez16@gmail.com>
////

@import './landing/index';

.Portfolio {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
